* {
  box-sizing: border-box;
}
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.section1, .section2 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


.section1{
  text-align: center;
  width: 50%;
}

.section2{
  text-align: center;
  width: 50%;
}