* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  padding-top: 100px;
}

h1{
  text-align: center;
}

main .row {
  margin-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section3{
  max-width: 800px;
  padding: .5em 1em;
}

.title-bar{
  position: relative;
  width:100%;
  background-color: grey;
}

.bookmark-title{
  display: inline-block;
  padding: .5em;
}

.bookmark-description{
  margin: .5em;
}

button:hover {
  cursor: pointer;
}

.sort-rating-label{
  display: block;
}

.add-bookmark-button{
  margin-top: 3px;
  padding: 8px;
}

li{
  all: none;
  list-style-type: none;
  border: black 2px solid;
  border-radius: 8px;
}

.url-link-button{
  border-radius: 2px;
}

.delete-button{
  position: absolute;
  border-radius: 2px;
  right: .5em;
  top: .5em;
}

.fa{
  font-size:24px;
}

.rating{
  margin: .5em;
  font-size: 150%;
}

.js-bookmark-expanded{
  display: none;
}
 
.red-border{
  border: solid red 2px;
}

.bookmark-description-text-area{
  margin-left: .5em;
  width: 96%;
}

.url-link-button{
  position: absolute;
  right:.5em;
}

legend{
  margin-bottom: .5em;
  font-size: 150%;
  padding-left: 1em;
}

.bookmark-form{
  text-align: center;
  margin: 1.2em;
}

.title-url-star{
  width:90%;
  text-align: left;
  margin:auto; 
  max-width: 600px;  
}

textarea{
 text-align: left;
 width: 70%; 
}

.entry{
  display: block;
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-bottom: .2em;
}

.description-entry{
  margin-bottom: .5em;
  height: 5em;
}

.btn{
  margin: .5em;
  width: 8em;
  height: 2em;
}

div.rating{
  position: relative;
}

.border__error{
  border:red solid 2px;
}

