* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  padding-top: 100px;
}

h1{

  text-align: center;
}

main .row {
  
  margin-bottom: 20px;
  /* border: rgb(0, 0, 0) solid 1px; */
}

body {
    font-family: 'Roboto', sans-serif;
}

.title-bar{
  position: relative;
  width:100%;
  background-color: grey;
}

.bookmark-title{
  display: inline-block;
  padding: .5em;
  
}

.bookmark-description{
  margin: .5em;
}

button:hover {
  cursor: pointer;
}

.sort-rating-label{
  display: block;
  /* position:relative;
  left: 1.5em; */
}

.add-bookmark-button{
  margin-top: 3px;
  padding: 8px;

}

li{
  all: none;
  list-style-type: none;
  border: black 2px solid;
  border-radius: 8px;
}
.url-link-button{
  border-radius: 2px;
}

.delete-button{
  position: absolute;
  border-radius: 2px;
  right: .5em;
  top: .5em;
}

.fa{
  font-size:24px;
}

.rating{
  margin: .5em;
  font-size: 150%;
}

.js-bookmark-expanded{
  display: none;
}
 
.red-border{
  border: solid red 2px;
}

.bookmark-description-text-area{
  margin-left: .5em;
  border: solid red 1px;
  width: 96%;

}

.url-link-button{
  position: absolute;
  right:60px;
}

legend{
  font-size: 150%;
  padding-left: 1em;
}

.bookmark-form{
  text-align: center;
  border: black solid 1px;
  margin: 1.2em;
}

.title-url-star{
  width:100%;
  text-align: center
  margin:auto;
  
}

textarea{
  width:80%
}

.entry{
  padding: 5px;
  margin-left: .5emx;
  margin-right: .5em;
  margin-bottom:.5em;
}


